<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.orangefinch.Twofold.invite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twofold</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.orangefinch.Twofold.google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.220566699855-vdk5b551vh0gq13s1jejk88amcgc96pm</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>220566699855-vdk5b551vh0gq13s1jejk88amcgc96pm.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Twofold uses your camera to capture boarding passes and travel documents.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Twofold uses your location to automatically set your city so we can show accurate timezones, weather, and distance with your partner.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
